*{
    margin: 0;
    padding: 0;
    user-select: none;
}

/* This is the font and style for text in the nav bar. */
.text-uppercase {
    text-transform: capitalize !important;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/*This leaves margins between the links in the nav bar. */
.nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

/* This sets the background image and font for all the pages. */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/corendon_boeing-737_background-1-opacity1.jpg);
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}

/* This gives padding for all the pages so that all the content won't touch the edges as much. */
.container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* This is the style for the corendon logo image in the nav bar */
#logoimg{
    width: auto;
    height: 60px;
    margin-left: 40px;
}

/* This ensures that when you hover on the links in the nav bar that the background of the link attribute will become yellow. */
nav ul li:hover{
    background-color: #d4bf00;
}

/* This makes the black background where the about us content is in. */
.aboutuscontainer {
    background-color: #222529;
    width: 1200px;
    height: 1125px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.97;
}

/* This part makes sure that the content is in these given dimensions. */
.aboutuscard{
    height: 400px;
    margin-top: 20px;
    padding: 20px;
}

/* Style for the text in the aboutus content of the page. */
.aboutuscontent h1{
    color: red;
    text-align: center;
    opacity: 1;
}

/* Style for the text in the aboutus content of the page. */
.aboutuscontent h2{
    color: white;
    font-weight: bold;
    font-size: medium;
    opacity: 1;
}

/* Style for the text in the aboutus content of the page. */
.aboutuscontent h3{
    color: white;
    font-weight: lighter;
    font-size: medium;
    opacity: 1;
}

/* Black background for the terms use content. */
.termsusecontainer {
    background-color: #222529;
    width: 1000px;
    height: 630px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

/* Dimensions for the content of the terms use to go in. */
.termsusecard{
    height: 400px;
    margin-top: 20px;
    padding: 20px;
}

/* Style for the text that's in the terms use page. */
.termsusecontent h1{
    color: red;
    text-align: center;
    opacity: 1;
    font-size: 350%;
}

/* Style for the text that's in the terms use page. */
.termsusecontent h2{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 250%;
}

/* Style for the text that's in the terms use page. */
.termsusecontent h3{
    color: white;
    font-weight: bold;
    font-size: larger;
}

/* Style for the text that's in the terms use page. */
.termsusecontent h4{
    color: white;
    font-weight: 100;
    font-size: larger;
}

/* Style for the text that's next to the checkbox on the login page. */
#checkboxterms{
    font-size: larger;
    padding: 10px;
}

/* Style for the checkbox box. This style makes the checkbox bigger. */
#checkboxterms input{
    height: 15px;
    width: 15px;
}

/* Style for the login button. This style makes the button centered.*/
#centerbutton{
    text-align: center;
    margin-top: 50px;
}

/* Black background for the home page content. */
.homecontainer {
    background-color: #222529;
    width: 900px;
    height: 550px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

/* Style for the home content to go in tho these dimensions. */
.homecontent {
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/* Style for the text in the home page. */
.homecontent h1{
    color: red;
    font-weight: 600;
    font-size: 230%;
}

/* Style for the text in the home page. */
.homecontent h2{
    color: white;
    font-weight: 400;
}

/* Style for the text in the home page. */
.homecontent h3{
    color: white;
    font-weight: 300;
    text-align: left;
}

/* Black background for the multimedia page. */
.multimediacontainer{
    background-color: #222529;
    width: 1300px;
    height: 800px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

/* Style for the multimedia page so the content goes in to these dimensions. */
.multimediacontent{
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/* style for text thats in the content for the multimedia page. */
.multimediacontent h1{
    color: red;
}

/* style for text thats in the content for the multimedia page. */
.multimediacontent h2{
   color: white;
}

/* Style that makes the size of the youtube video in the multimedia page. */
.multimediacontent iframe{
    width: 885px;
    height: 500px;
}

/* This makes sure that al the social media links are to the left of the screen. */
.socialscontent{
    text-align: left;
}

/* Makes the images */
.socialscontent img{
    align-self: auto;

}

/* Style for the text for the social media links. */
.socialscontent h4{
    color: white;
    font-weight: 100;
}

/* Makes the link for the social media links thicker. */
.socialscontent h4 a{
    font-weight: 400;
}

/* Style for the instagram logo. */
#instagramsocials img{
    height: 30px;
    width: auto;
    float: left;
    margin-right: 10px;
}

/* Style for the facebook logo. */
#facebooksocials img{
    height: 30px;
    width: auto;
    float: left;
    margin-right: 10px;
}

/* Style for the twitter logo. */
#twittersocials img{
    height: 30px;
    width: auto;
    float: left;
    margin-right: 10px;
}

/* Style for the youtube logo. */
#youtubesocials img{
    height: 25px;
    width: auto;
    float: left;
    margin-right: 5px;
}


/* This part makes the pages dynamic for the screen size that the user is using. */
/* The black background size changes with the size of the screen. */
@media screen and (max-width: 1450px){
    .multimediacontainer{
        width: 1100px;
    }
}

@media screen and (max-width: 1350px){
    .aboutuscontainer {
        width: 1000px;
        height: 1210px;
    }

    .termsusecontainer{
        width: 750px;
        height: 710px;
    }

    .multimediacontainer{
        width: 1000px;
        height: 720px;
    }

    .multimediacontent iframe{
        width: 800px;
        height: 450px;
    }
}

@media screen and (max-width: 1100px){
    .aboutuscontainer{
        width: 700px;
        height: 1375px;
    }

    .homecontainer{
        width: 750px;
    }

    .multimediacontainer{
        width: 700px;
        height: 600px;
    }

    .multimediacontent iframe{
        width: 580px;
        height: 326px;
    }
}

@media screen and (max-width: 850px){
    .aboutuscontainer{
        width: 500px;
        height: 1675px;
    }

    .termsusecontainer{
        width: 475px;
        height: 730px; 
    }

    .homecontainer{
        width: 550px;
        height: 680px;
    }

    .multimediacontainer{
        width: 550px;
        height: 540px;
    }

    .multimediacontent iframe{
        width: 450px;
        height: 253px;
    }

    #logoimg{
        display: none;
    }

    nav.desk ul ul{
        list-style: none;
        width: 75%;
        height: 60px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px){
    .aboutuscontainer{
        width: 390px;
        height: 2020px;
    }

    .homecontainer{
        width: 390px;
        height: 700px;
    }

    .multimediacontainer{
        width: 530px;
        height: 540px;
    }

    .multimediacontent iframe{
        width: 450px;
        height: 253px;
    }
}

@media screen and (max-width: 550px){
    .multimediacontainer{
        width: 400px;
        height: 470px;
    }

    .multimediacontent iframe{
        width: 360px;
        height: 204px;
    }
}