*{
    margin: 0;
    padding: 0;
    user-select: none;
}

/* This is the font and style for text in the nav bar. */
.text-uppercase {
    text-transform: capitalize !important;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/*This leaves margins between the links in the nav bar. */
.nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

/* This sets the background image and font for all the pages. */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/corendon_boeing-737_background-1-opacity1.jpg);
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}

/* This gives padding for all the pages so that all the content won't touch the edges as much. */
.container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* This is the style for the corendon logo image in the nav bar */
#logoimg{
    width: auto;
    height: 60px;
    margin-left: 40px;
}

/* This ensures that when you hover on the links in the nav bar that the background of the link attribute will become yellow. */
nav ul li:hover{
    background-color: #d4bf00;
}

.maincontainer{
    height: 2000;
    width: 1920;
    width: 100%;
}

.aboutuscontainer {
    background-color: #222529;
    width: 1200px;
    height: 1125px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.97;
}

.aboutuscard{
    height: 400px;
    margin-top: 20px;
    padding: 20px;
}

.aboutuscontent h1{
    color: red;
    text-align: center;
    opacity: 1;
}
.aboutuscontent h2{
    color: white;
    font-weight: bold;
    font-size: medium;
    opacity: 1;
}

.aboutuscontent h3{
    color: white;
    font-weight: lighter;
    font-size: medium;
    opacity: 1;
}

.termsusecontainer {
    background-color: #222529;
    width: 1000px;
    height: 630px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

.termsusecard{
    height: 400px;
    margin-top: 20px;
    padding: 20px;
}

.termsusecontent h1{
    color: red;
    text-align: center;
    opacity: 1;
    font-size: 350%;
}

.termsusecontent h2{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 250%;
}

.termsusecontent h3{
    color: white;
    font-weight: bold;
    font-size: larger;
}

.termsusecontent h4{
    color: white;
    font-weight: 100;
    font-size: larger;
}

#checkboxterms{
    font-size: larger;
    padding: 10px;
}

#checkboxterms input{
    height: 15px;
    width: 15px;
}

/* Veranderd de plek van de Login button op de home page*/
/* Deze Button stuurt je naar de login pagina*/
#centerbutton{
    text-align: center;
    margin-top: 50px;
}

.homecontainer {
    background-color: #222529;
    width: 900px;
    height: 440px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

.homecontent {
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.homecontent h1{
    color: red;
    font-weight: 600;
    font-size: 250%;
}

.homecontent h2{
    color: white;
    font-weight: 400;
}

.homecontent h3{
    color: white;
    font-weight: 300;
    text-align: left;
}

/* All style for multimedia container*/
.multimediacontainer{
    background-color: #222529;
    width: 1300px;
    height: 630px;
    float: center;
    margin-top: 50px;
    border-style: solid;
    border-color: #222529;
    border-width: thin;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

.multimediacontent{
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/* style for text thats in the content for the multimedia.html*/
.multimediacontent h1{
    color: red;
}

.multimediacontent h2{
   color: white;
}

@media screen and (max-width: 850px){
    #logoimg{
        display: none;
    }

    nav.desk ul ul{
        list-style: none;
        width: 75%;
        height: 60px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1350px){
    .aboutuscontainer {
        width: 1000px;
        height: 1210px;
    }

    .termsusecontainer{
        width: 750px;
        height: 710px;
    }
}

@media screen and (max-width: 1100px){
    .aboutuscontainer{
        width: 700px;
        height: 1375px;
    }

    .homecontainer{
        width: 750px;
    }
}

@media screen and (max-width: 850px){
    .aboutuscontainer{
        width: 500px;
        height: 1675px;
    }

    .termsusecontainer{
        width: 475px;
        height: 730px; 
    }

    .homecontainer{
        width: 550px;
    }
}

@media screen and (max-width: 600px){
    .aboutuscontainer{
        width: 450px;
        height: 1775px;
    }

    .homecontainer{
        width: 420px;
        height: 490px;
    }
}