<!-- Renders the base template for the basic functions for the page. -->
{% extends "base.html" %}
<!-- Set page as active. -->
{% set active_page = "aboutus" %}

<!-- Title for this specific page. -->
{% block title %}About us{% endblock %}

<!-- Extends the base.html with the about us content for this about us page.-->
{% block content %}

    <!-- Container for the content to go in. -->
    <div class="aboutuscontainer">
        <div class="aboutuscard">
            <div class="aboutuscontent">
                <h1>About Us</h1>
                <h2>Corendon.com: vliegtickets tegen de laagst mogelijke prijs!</h2>
                <h3>U wilt een losse vlucht boeken, maar niet teveel betalen? Dan bent u bij Corendon.com aan het
                    juiste adres! Bij ons boekt u een vliegticket tegen de laagst mogelijke prijs.</h3>
                <br>
                <h2>Corendon.com: 24/7 bereikbaar</h2>
                <h3>U kunt bij ons op ieder gewenst tijdstip uw vliegticket eenvoudig en snel online boeken.
                    U bent dus niet afhankelijk van openingstijden en boekt op een tijdstip dat u het beste uitkomt.
                    Op www.corendon.com ervaart u het gemak van onze volledige en snelle boekingsservice!</h3>
                <br>
                <h2>Telefonisch boeken?</h2>
                <h3>Natuurlijk is telefonisch boeken ook mogelijk. Corendon.com heeft haar eigen reserveringssysteem.
                    Dit zorgt ervoor dat onze ervaren medewerkers direct kunnen nakijken of het door u gewenste
                    vliegticket beschikbaar is. Als een gewenste vertrekdatum niet (meer) boekbaar is, dan kunnen wij
                    u direct via het systeem een alternatieve vertrekdatum bieden waarop het vliegticket wel beschikbaar
                    is.</h3>
                <br>
                <h2>Onze enthousiaste en servicegerichte medewerkers zijn te bereiken op telefoonnummer
                    +31(0)12 345 67 89</h2>

                <br>
                <h2>Facts</h2>
                <h3>Corendon.com is onderdeel van Corendon International Travel BV.
                    De onderneming is in 2000 opgericht in Haarlem, toen Atilay Uslu en zijn zakenpartner
                        Yildiray Karaer besloten hun krachten te bundelen.
                    Voor die tijd had de jonge ondernemer Uslu al zijn eerste stappen in de reisbranche gezet, maar het echte
                        succes komt met de oprichting van Corendon.
                    Het bedrijf begon als Turkije-specialist dat eerst alleen vliegtickets en
                        later ook volledig verzorgde reizen naar Turkije verkocht.
                    In 20 jaar tijd is Corendon uitgegroeid tot een toonaangevende, zeer succesvolle touroperator en dé
                    nummer 1 reisorganisatie als het gaat om veel Turkse en andere populaire bestemmingen binnen en buiten Europa,
                    zoals bijvoorbeeld Ibiza, Cyprus en Curaçao.</h3>

                <h3>Corendon staat sterk in de markt door de scherpe prijzen, het no-nonsense karakter en de grote ervaring in het
                    inkopen van accommodaties. Hierdoor kan Corendon, in combinatie met de lage overhead kosten, de beste
                    prijs-kwaliteitverhouding aanbieden als het om uw vakantie gaat.</h3>

                <h3>Naast Corendon Vliegvakanties, Corendon Airlines, Corendon Dutch Airlines, Corendon Hotels & Resorts behoren
                    ook Maris Life, Corendon Artiestenreizen, Corendon Groepsreizen, GOfun jongerenreizen, Karin’s Choice,
                    Stipreizen tot Corendon. Waarbij het laatste label kleinschalige accommodaties aanbiedt voor de individueel
                    ingestelde reiziger. Ook GoFun is onderdeel van Corendon en biedt de leukste vakanties aan voor jongeren.</h3>
                <br>
                <h2>CORENDON AIRLINES</h2>
                <h3>Sinds 2005 heeft Corendon een eigen luchtvaartmaatschappij die jaarlijks
                    ruim 2,5 miljoen passagiers vanuit 28 landen naar 143 luchthavens vliegt.
                    De thuishaven van de luchtvaartmaatschappij is Antalya in Turkije en de code is XC.
                    In 2011 is er een Nederlandse tak toegevoegd, Corendon Dutch Airlines (CD).
                    De allereerste vlucht werd uitgevoerd op de oer-Hollandse dag 30 april (destijds Koninginnedag).</h3>
                <h3>De luchtvaartmaatschappij beschikt over 16 vliegtuigen, waarvan de meeste van het type Boeing 737-800.
                    Dit toestel beschikt over 189 comfortabele stoelen aan boord.</h3>
                <br>
                <h2>ZOOVER AWARDS</h2>
                <h3>Corendon won in 2015 vijf Zoover-awards:</h3>
                <h3>- Populairste luchtvaartmaatschappij</h3>
                <h3>- Beste luchtvaartmaatschappij</h3>
                <br>
                <h2>Adresgegevens:</h2>
                <h3>Singaporestraat 82, 1175 RA Lijnden.</h3>
                <h3>KVK nummer: 34390122</h3>
                <h3>BTW nummer van Corendon Airlines: NL8230.56.879.B.01</h3>
            </div>
        </div>
    </div>
{% endblock %}
