{% extends "base.html" %}
{% block title %}Terms of use{% endblock %}


{% block content %}
    <div class="maincontainer">
        <div class="termsusecontainer">
            <div class="termsusecard">
                <div class="termsusecontent">
                    <h1>Terms of Use</h1>
                    <h2>Free Wi-Fi</h2>
                    <br>
                    <h3>By accepting this agreement and accessing the wireless network, you acknowledge that
                         you are of legal age, you have read and understood, and agree to be bound by this agreement.</h3>
                    <br>
                    <h4>(*) The wireless network service is provided by the property owners and is completely at their
                         discretion. Your access to the network may be blocked, suspended, or terminated at any time for any reason.</h4>
                    <br>
                    <h4>(*) You agree not to use the wireless network for any purpose that is unlawful or otherwise prohibited
                         and you are fully responsible for your use.</h4>
                    <br>
                    <h4>(*) The wireless network is provided "as is" without warranties of any kind,
                         either expressed or implied.</h4>

                    <div id="centerbutton">
                        <button class="btn btn-success btn-lg px-5" onclick="document.location='{{ url_for('auth.login') }}'">Go to Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
